# Import Libraries

In [1]:
# Import Libraries
import pandas as pd
import pickle
import json

# set_options
pd.set_option("display.max_columns", 100)
pd.set_option("display.max_rows", 100)
pd.set_option("display.max_colwidth", 1000)

# Model Loading

In [2]:
# Loading Model Files

with open('best_model.pkl', 'rb') as file_1:
  best_model = pickle.load(file_1)

with open('sel_features.txt','r') as file_2:
  sel_features = json.load(file_2)

# Predicting Data Inference

In [3]:
# Create New Data

data_inf = pd.read_csv('data_inference.csv')
data_inf

,Unnamed: 0.1,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,30906,30906,502579,646357,20000,20000,19529.42196,36 months,10.62,651.20,B,B3,Aspen Ridge West,4 years,MORTGAGE,50000.0,Verified,Apr-10,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=502579,NaN,debt_consolidation,"Trying to build a future, consolidating credit cards",841xx,UT,4.34,1.0,Oct-99,0.0,18.0,NaN,7.0,0.0,1,0.0,30.0,f,0.00,0.00,23355.800000,22742.18,19999.99,3355.81,0.0,0.0,0.0,Nov-12,3838.08,NaN,Nov-12,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,101584,101584,6729645,8331956,7700,7700,7700.00000,36 months,13.68,261.98,C,C1,Quest Diagnostics,10+ years,RENT,90000.0,Not Verified,Aug-13,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=6729645,NaN,moving,Moving Loan,076xx,NJ,6.38,0.0,Apr-98,0.0,54.0,NaN,7.0,0.0,6354,34.5,32.0,f,0.00,0.00,9325.739999,9325.74,7700.00,1625.74,0.0,0.0,0.0,Nov-15,2514.26,NaN,Dec-15,0.0,67.0,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,14295.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18400.0,NaN,NaN,NaN
2,233680,233680,37307823,39880625,10000,10000,10000.00000,36 months,9.49,320.29,B,B2,TERRITORY SALES MANAGER,< 1 year,MORTGAGE,100000.0,Source Verified,Dec-14,Current,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=37307823,NaN,debt_consolidation,Debt consolidation,605xx,IL,30.30,1.0,Nov-98,0.0,10.0,NaN,29.0,0.0,43092,61.8,53.0,w,6711.12,6711.12,4158.500000,4158.50,3288.88,869.62,0.0,0.0,0.0,Jan-16,320.29,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,399318.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69700.0,NaN,NaN,NaN
3,250063,250063,34963948,37637231,10000,10000,10000.00000,60 months,12.99,227.48,C,C2,Operations Liaison,10+ years,MORTGAGE,61000.0,Not Verified,Nov-14,Current,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=34963948,NaN,credit_card,Credit card refinancing,913xx,CA,25.50,0.0,Feb-88,2.0,NaN,NaN,23.0,0.0,42533,38.2,47.0,w,8345.23,8345.23,2950.020000,2950.02,1654.77,1295.25,0.0,0.0,0.0,Dec-15,227.48,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,262752.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,111300.0,NaN,NaN,NaN
4,340665,340665,22041455,24364394,12575,12575,12575.00000,36 months,6.03,382.73,A,A1,Associate Professor,8 years,RENT,90000.0,Not Verified,Jul-14,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=22041455,NaN,credit_card,Credit card refinancing,622xx,IL,9.27,0.0,Aug-00,0.0,NaN,NaN,6.0,0.0,16072,20.7,11.0,w,0.00,0.00,13041.090000,13041.09,12575.00,466.09,0.0,0.0,0.0,Aug-15,1403.86,NaN,Sep-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,27029.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77721.0,NaN,NaN,NaN
5,357838,357838,20078990,22341634,20000,20000,20000.00000,36 months,6.49,612.89,A,A2,NaN,NaN,MORTGAGE,53719.0,Verified,Jul-14,Current,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=20078990,NaN,credit_card,Credit card refinancing,295xx,SC,13.43,0.0,Sep-89,3.0,NaN,NaN,10.0,0.0,55151,27.4,28.0,w,10485.04,10485.04,11032.020000,11032.02,9514.96,1517.06,0.0,0.0,0.0,Jan-16,612.89,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,63604.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,138700.0,NaN,NaN,NaN
6,373434,373434,18575248,20737923,23400,23400,23400.00000,60 months,16.29,572.66,D,D2,Director,2 years,OWN,350000.0,Source Verified,Jun-14,Current,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=18575248,NaN,debt_consolidation,Debt consolidation,111xx,NY,16.11,0.0,Nov-97,0.0,NaN,NaN,13.0,0.0,39802,98.8,35.0,f,17914.84,17914.84,10880.540000,10880.54,5485.16,5395.38,0.0,0.0,0.0,Jan-16,572.66,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,331267.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40300.0,NaN,NaN,NaN
7,374591,374591,17333192,19455730,26000,26000,25900.00000,36 months,7.12,804.24,A,A3,Engineer,10+ years,MORTGAGE,151000.0,Source Verified,Jun-14,Current,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=17333192,NaN,debt_consolidation,Debt consolidation,080xx,NJ,13.60,0.0,Oct-95,2.0,72.0,NaN,15.0,0.0,17957,54.9,32.0,f,12968.34,12918.46,15280.560000,15221.79,13031.66,2248.90,0.0,0.0,0.0,Jan-16,804.24,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,450152.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32700.0,NaN,NaN,NaN
8,408889,408889,14548042,16610440,3850,3850,3850.00000,36 months,12.49,128.78,B,B4,Resident Physician,2 years,RENT,49000.0,Verified,Apr-14,Current,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=14548042,NaN,debt_consolidation,Debt consolidation,152xx,PA,15.51,0.0,May-04,1.0,NaN,NaN,25.0,0.0,6839,16.5,53.0,w,1779.84,1779.84,2704.380000,2704.38,2070.16,634.22,0.0,0.0,0.0,Jan-16,128.78,Feb-16,Jan-16,1.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,166.0,109895.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41500.0,NaN,NaN,NaN
9,416548,416548,13536906,15589204,12000,12000,12000.00000,36 months,9.67,385.35,B,B1,NaN,NaN,RENT,65000.0,Verified,Apr-14,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=13536906,NaN,debt_consolidation,Debt consolidation,967xx,HI,12.59,0.0,Aug-85,2.0,50.0,NaN,14.0,0.0,16276,26.9,34.0,w,0.00,0.00,12283.110000,12283.11,12000.00,283.11,0.0,0.0,0.0,Jul-14,11512.41,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,288844.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60400.0,NaN,NaN,NaN

In [4]:
# Removing unnecessary features
data_inf_final = data_inf[sel_features]
data_inf_final

,int_rate,out_prncp,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,grade
0,10.62,0.00,23355.800000,22742.18,19999.99,0.0,0.0,0.0,3838.08,B
1,13.68,0.00,9325.739999,9325.74,7700.00,0.0,0.0,0.0,2514.26,C
2,9.49,6711.12,4158.500000,4158.50,3288.88,0.0,0.0,0.0,320.29,B
3,12.99,8345.23,2950.020000,2950.02,1654.77,0.0,0.0,0.0,227.48,C
4,6.03,0.00,13041.090000,13041.09,12575.00,0.0,0.0,0.0,1403.86,A
5,6.49,10485.04,11032.020000,11032.02,9514.96,0.0,0.0,0.0,612.89,A
6,16.29,17914.84,10880.540000,10880.54,5485.16,0.0,0.0,0.0,572.66,D
7,7.12,12968.34,15280.560000,15221.79,13031.66,0.0,0.0,0.0,804.24,A
8,12.49,1779.84,2704.380000,2704.38,2070.16,0.0,0.0,0.0,128.78,B
9,9.67,0.00,12283.110000,12283.11,12000.00,0.0,0.0,0.0,11512.41,B

In [ ]:
# Predict using Best Model
y_pred_inf = best_model.predict(data_inf_final) # pipeline_xgb from load files
y_pred_inf

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

High-Risk Loan Applicant