# Model Inference

## Import Libraries

In [ ]:
# Import Libraries
import pandas as pd
import numpy as np
import pickle
import json

# set_options
pd.set_option("display.max_columns", 100)
pd.set_option("display.max_rows", 100)
pd.set_option("display.max_colwidth", 1000)

## Model Loading

In [ ]:
# Loading Model Files

with open('best_model.pkl', 'rb') as file_1:
  best_model = pickle.load(file_1)

with open('sel_features.txt','r') as file_2:
  sel_features = json.load(file_2)

with open('low_risk.txt','r') as file_3:
  low_risk = json.load(file_3)

## Predicting Data Inference

In [ ]:
# Load Data Inference
data_inf = pd.read_csv('data_inference.csv')
data_inf

,Unnamed: 0.1,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,2838,2838,1030248,1259652,12000,12000,12000.000000,36 months,6.62,368.45,A,A2,DHL Express,9 years,MORTGAGE,105000.00,Source Verified,Nov-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=1030248,Borrower added on 11/17/11 > Consolidate credit card balances<br>,credit_card,Debt / Credit Cards,925xx,CA,17.83,0.0,Jul-88,0.0,NaN,NaN,14.0,0.0,37059,69.4,48.0,f,0.00,0.00,13082.80000,13082.80,12000.00,1082.80,0.0,0.00,0.0000,Nov-13,4990.14,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,26941,26941,561453,722562,4000,4000,4000.000000,36 months,11.12,131.19,B,B3,The Kroger Co.,6 years,RENT,42000.00,Verified,Aug-10,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=561453,NaN,debt_consolidation,Credit Card Debt Consolidation,972xx,OR,13.40,0.0,Oct-03,1.0,33.0,NaN,7.0,0.0,4041,64.1,12.0,f,0.00,0.00,4702.12000,4702.12,4000.00,702.12,0.0,0.00,0.0000,Mar-13,784.09,NaN,Mar-13,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,28194,28194,543090,700722,24000,24000,23907.682460,36 months,11.12,787.10,B,B3,San Diego Unified School District,7 years,RENT,78708.00,Verified,Jul-10,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=543090,Borrower added on 07/07/10 > This loan is to payoff credit cards to have only one fixed payment a month<br/>,credit_card,Hanna_LendingClub,919xx,CA,15.99,0.0,Oct-99,0.0,NaN,NaN,4.0,0.0,12683,47.5,19.0,f,0.00,0.00,27149.58000,27025.02,23999.94,3149.64,0.0,0.00,0.0000,Jan-12,13833.14,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,33975,33975,460240,574244,19400,19400,19368.339510,36 months,16.00,682.06,D,D5,WABC,2 years,MORTGAGE,130000.00,Not Verified,Nov-09,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=460240,574244 added on 11/14/09 > I am trying to consolidate two high interest loans into one payment a month. Believe it or not the 16% interest rate on this loan is lower then what I currently have.<br/>,debt_consolidation,Debt Me Out Of This,070xx,NJ,12.60,1.0,Oct-96,3.0,15.0,NaN,12.0,0.0,8907,26.7,35.0,f,0.00,0.00,21515.03000,21466.03,19400.00,2115.03,0.0,0.00,0.0000,Sep-10,24.19,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,36892,36892,396914,437416,11200,11200,2799.990932,36 months,13.16,378.23,C,C3,Active The Limited Inc.,6 years,RENT,63800.00,Verified,May-09,Charged Off,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=396914,"I've been doing recruiting business for 6 years and I finally put my business on track. however, once the business grow, I need cash flow to pay my employees. We normally get paid from clients within 90days, and I need to pay my employees with our money during 90 days. With your lending, it will help my business grow faster! Thank you!!",small_business,Need cash flow for 3 month.,926xx,CA,4.25,0.0,Jan-95,3.0,NaN,NaN,7.0,0.0,8897,19.1,7.0,f,0.00,0.00,1969.98000,491.64,1037.91,473.97,0.0,458.10,4.5600,Sep-09,378.23,NaN,Feb-10,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,56647,56647,9000101,10791775,11675,11675,11675.000000,36 months,15.61,408.22,C,C3,NaN,NaN,MORTGAGE,40163.44,Verified,Dec-13,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=9000101,NaN,debt_consolidation,consolidate,381xx,TN,17.75,0.0,Oct-78,1.0,36.0,NaN,11.0,0.0,9882,60.6,23.0,f,0.00,0.00,14303.35000,14303.35,11675.00,2628.35,0.0,0.00,0.0000,Nov-15,5322.51,NaN,Nov-15,0.0,68.0,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,22324.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16300.0,NaN,NaN,NaN
6,96791,96791,6889484,8531392,28000,28000,27950.000000,36 months,9.71,899.68,B,B1,Crowe Horwath LLP,10+ years,MORTGAGE,105000.00,Verified,Sep-13,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=6889484,NaN,credit_card,Consolidation,601xx,IL,11.92,0.0,May-96,0.0,NaN,NaN,10.0,0.0,40983,50.0,48.0,f,0.00,0.00,30506.75725,30452.29,28000.00,2506.76,0.0,0.00,0.0000,Oct-14,19714.40,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,305289.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82000.0,NaN,NaN,NaN
7,99549,99549,6808403,8430415,8000,8000,8000.000000,36 months,18.25,290.23,D,D2,NaN,3 years,OWN,80000.00,Verified,Sep-13,Current,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=6808403,NaN,debt_consolidation,Debt consolidation,928xx,CA,12.54,0.0,Aug-02,2.0,NaN,NaN,10.0,0.0,13946,77.5,13.0,f,2170.96,2170.96,8125.49000,8125.49,5829.04,2296.45,0.0,0.00,0.0000,Jan-16,290.23,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,48104.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18000.0,NaN,NaN,NaN
8,161585,161585,3485298,4367532,9000,9000,9000.000000,36 months,14.33,309.05,C,C1,JetBlue Airways,3 years,RENT,49000.00,Source Verified,Mar-13,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=3485298,Borrower added on 02/19/13 > I want to consolidate my debt that way I can have one monthly payment.<br>,debt_consolidation,Consolidation loan,114xx,NY,10.82,0.0,Mar-01,0.0,NaN,NaN,8.0,0.0,11447,58.4,18.0,f,0.00,0.00,10986.39506,10986.40,9000.00,1986.40,0.0,0.00,0.0000,Jun-15,2957.59,NaN,Jun-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,214.0,17117.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19600.0,NaN,NaN,NaN
9,163954,163954,3376934,4229471,10000,10000,10000.000000,36 months,15.80,350.59,C,C3,Rowan Salisbury Schools,4 years,MORTGAGE,50000.00,Verified,Feb-13,Current,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=3376934,Borrower added on 02/10/13 > I plan to use this money to completely pay off my Sears Card and my Discover Card. This will open up enough money to make the payment because I usually pay about $200 on the Sears Card. With the remainder of the money I plan to finish my basement and make some other needed repairs to my house.<br><br> Borrower added on 02/10/13 > I plan to pay off my Discover Card and my Sears account. That will free up enough to make my monthly payment. I plan to use the rest to finish my basement and make some basic improvements around the house.<br>,debt_consolidation,Debt Consolidation,281xx,NC,19.87,0.0,Sep-98,0.0,36.0,NaN,7.0,0.0,6136,80.7,20.0,f,691.69,691.69,11913.46000,11913.46,9308.30,2605.16,0.0,0.00,0.0000,Jan-16,350.59,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,234661.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7600.0,NaN,NaN,NaN
10,165850,165850,3294378,4167741,5000,5000,5000.000000,36 months,18.49,182.00,D,D2,Bradford & Barthel,< 1 year,RENT,50000.00,Not Verified,Feb-13,Charged Off,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=3294378,NaN,debt_consolidation,Debt consolidation,946xx,CA,17.11,0.0,Jul-00,1.0,NaN,NaN,10.0,0.0,11940,82.3,25.0,f,0.00,0.00,4186.00000,4186.00,2870.94,1315.06,0.0,0.00,0.0000,Jan-15,182.00,NaN,Feb-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,16038.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14500.0,NaN,NaN,NaN
11,172728,172728,3108669,3781259,20125,20125,20075.000000,36 months,14.33,691.06,C,C1,Lesley Senior Communities,3 years,RENT,45000.00,Source Verified,Jan-13,Current,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=3108669,Borrower added on 01/10/13 > I would really like to get this loan to pay off all my credit cards and be stress free forever. This will give me a peace of mind.<br>,debt_consolidation,Debt consolidation,940xx,CA,25.25,0.0,Nov-02,0.0,NaN,NaN,13.0,0.0,21277,74.7,23.0,f,699.63,697.87,24162.92000,24102.92,19425.37,4737.55,0.0,0.00,0.0000,Dec-15,691.06,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,21277.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28500.0,NaN,NaN,NaN
12,219828,219828,1246495,1488585,10000,10000,10000.000000,36 months,12.12,332.72,B,B3,Amphitheater Public Schools,10+ years,RENT,36880.00,Not Verified,Apr-12,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=1246495,"Borrower added on 04/14/12 > paying off credit cards and fixing car.<br><br> Borrower added on 04/14/12 > Pay off credit cards and fix car yea!<br><br> Borrower added on 04/15/12 > I am serious about wanting to pay off my credit cards and never open another one; I've learned this time. I would appreciate investors helping me lower my interest rates and only having one payment would be so wonderful and help me out. I am a good person who works hard. Please trust in me. Thanks<br><br> Borrower added on 04/18/12 > I just wanted to say I appreciate all the investors who are helping me with my goal of paying off my credit cards. I am slowly reaching my goal and can't wait for the day that I call and say &quot;close my account&quot; to all my credit card companies. One payment, lower interest. Thank you, Thank you.<br><br> Borrower added on 04/21/12 > Thank you again to all the investors. I can almost see the day in the next week or so where I will be able to say the 3 words I'...",debt_consolidation,Out of debt finally,857xx,AZ,17.54,0.0,Oct-01,0.0,NaN,NaN,10.0,0.0,15171,84.3,11.0,f,0.00,0.00,11975.76457,11975.76,10000.00,1975.76,0.0,0.00,0.0000,May-15,339.38,NaN,Apr-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,229952,229952,1082144,1319051,29000,29000,28942.430410,36 months,8.90,920.85,A,A5,PowerSecure,2 years,MORTGAGE,88000.00,Verified,Jan-12,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=1082144,Borrower added on 12/29/11 > Plan-consolidate debt and become debt free in 36 months-excluding mortgage. Pay debts on time-never late. Job is secure<br>,debt_consolidation,I'm Debt Free!,349xx,FL,23.56,0.0,Nov-98,0.0,NaN,NaN,8.0,0.0,18223,54.4,22.0,f,0.00,0.00,31657.73000,31593.68,29000.00,2657.73,0.0,0.00,0.0000,Apr-13,18780.99,NaN,Apr-13,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,234764,234764,37107213,39869939,16000,16000,16000.000000,36 months,10.49,519.97,B,B3,CIS Educator/Curriculum Development Sr.,2 years,RENT,87500.00,Verified,Dec-14,Current,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=37107213,NaN,debt_consolidation,Debt consolidation,981xx,WA,14.80,0.0,Jun-02,3.0,NaN,NaN,19.0,0.0,12802,25.1,56.0,f,10790.99,10790.99,6750.29000,6750.29,5209.01,1541.28,0.0,0.00,0.0000,Jan-16,519.97,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,117632.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51100.0,NaN,NaN,NaN
15,250510,250510,34884046,37567350,4000,4000,4000.000000,36 months,9.49,128.12,B,B2,Project Controls Manager,3 years,MORTGAGE,120000.00,Not Verified,Nov-14,Current,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=34884046,NaN,vacation,Vacation,740xx,OK,7.94,0.0,May-86,1.0,26.0,NaN,7.0,0.0,3061,21.7,28.0,w,2577.50,2577.50,1789.46000,1789.46,1422.50,366.96,0.0,0.00,0.0000,Jan-16,128.12,Feb-16,Jan-16,0.0,37.0,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,170807.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14100.0,NaN,NaN,NaN
16,262682,262682,33240340,35883577,4725,4725,4725.000000,36 months,20.99,178.00,E,E4,NaN,NaN,MORTGAGE,45500.00,Verified,Nov-14,Charged Off,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=33240340,NaN,medical,Medical expenses,953xx,CA,33.44,2.0,Jan-02,2.0,2.0,108.0,20.0,1.0,7121,57.4,39.0,w,0.00,0.00,1343.60000,1343.60,291.09,237.40,0.0,815.11,8.1511,Feb-15,178.00,NaN,Jul-15,0.0,8.0,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,265686.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12400.0,NaN,NaN,NaN
17,339811,339811,3286478,4058934,6475,6475,6475.000000,36 months,13.98,221.24,C,C3,Special Procedures Tech,10+ years,MORTGAGE,42000.00,Not Verified,Jul-14,Current,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=3286478,NaN,debt_consolidation,Debt consolidation,705xx,LA,24.69,0.0,Sep-94,0.0,NaN,NaN,7.0,0.0,17852,76.3,24.0,w,3751.26,3751.26,3761.08000,3761.08,2723.74,1037.34,0.0,0.00,0.0000,Dec-15,221.24,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,272940.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23400.0,NaN,NaN,NaN
18,343322,343322,21421466,23744300,8875,8875,8875.000000,36 months,12.49,296.86,B,B5,NaN,NaN,RENT,19992.00,Not Verified,Jul-14,Current,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=21421466,NaN,debt_consolidation,Debt consolidation,130xx,NY,28.99,0.0,Aug-08,1.0,47.0,NaN,5.0,0.0,3865,62.3,15.0,w,5093.65,5093.65,5046.62000,5046.62,3781.35,1265.27,0.0,0.00,0.0000,Dec-15,296.86,Feb-16,Jan-16,0.0,47.0,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,6818.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6200.0,NaN,NaN,NaN
19,349419,349419,20691496,22963971,12250,12250,12250.000000,36 months,13.35,414.82,C,C2,roll off driver,3 years,OWN,42453.00,Not Verified,Jul-14,Current,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=20691496,NaN,debt_consolidation,Debt consolidation,270xx,NC,28.27,0.0,Mar-96,1.0,NaN,NaN,15.0,0.0,19084,55.6,27.0,f,6732.85,6732.85,7466.76000,7466.76,5517.15,1949.61,0.0,0.00,0.0000,Jan-16,414.82,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,45458.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34300.0,NaN,NaN,NaN
20,373090,373090,18575483,20738150,30000,30000,30000.000000,60 months,12.49,674.79,B,B5,Attorney,1 year,MORTGAGE,117000.00,Verified,Jun-14,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=18575483,NaN,debt_consolidation,Debt consolidation,442xx,OH,16.86,0.0,Oct-96,0.0,34.0,NaN,25.0,0.0,11678,15.2,51.0,f,0.00,0.00,33559.59000,33559.59,30000.00,3559.59,0.0,0.00,0.0000,Jun-15,26136.90,NaN,Jul-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,365590.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76700.0,NaN,NaN,NaN
21,384927,384927,16552352,18664866,6500,6500,6500.000000,36 months,13.35,220.11,C,C2,Teacher/Coach,1 year,RENT,52000.00,Source Verified,May-14,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=16552352,NaN,debt_consolidation,Debt consolidation,751xx,TX,11.86,4.0,Aug-00,2.0,13.0,NaN,13.0,0.0,12125,97.0,44.0,w,0.00,0.00,7463.16000,7463.16,6500.00,963.16,0.0,0.00,0.0000,Nov-15,441.40,NaN,Jan-16,0.0,40.0,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,156299.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12500.0,NaN,NaN,NaN
22,407207,407207,14518969,16581268,7000,7000,7000.000000,36 months,14.64,241.43,C,C3,Enterprise Solutions,2 years,RENT,51000.00,Source Verified,Apr-14,Current,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=14518969,NaN,credit_card,Credit card refinancing,294xx,SC,2.85,0.0,Feb-11,1.0,NaN,NaN,4.0,0.0,4366,94.9,4.0,w,3290.97,3290.97,5070.03000,5070.03,3709.03,1361.00,0.0,0.00,0.0000,Jan-16,241.43,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,4366.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4600.0,NaN,NaN,NaN
23,439136,439136,11906021,13898159,9000,9000,8950.000000,36 months,12.99,303.21,B,B5,Sr. Maint. Worker,10+ years,MORTGAGE,72000.00,Not Verified,Feb-14,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=11906021,NaN,debt_consolidation,Debt consolidation,953xx,CA,17.27,0.0,Jul-03,0.0,NaN,NaN,12.0,0.0,9155,78.2,20.0,f,0.00,0.00,9097.43000,9046.89,9000.00,97.43,0.0,0.00,0.0000,Mar-14,9097.43,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,233445.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11700.0,NaN,NaN,NaN
24,456555,456555,10608755,12480690,25000,25000,25000.000000,36 months,14.98,866.39,C,C3,Regional Manager,< 1 year,MORTGAGE,104000.00,Verified,Jan-14,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail.action?loan_id=10608755,NaN,debt_consolidation,Debt consolidation,734xx,OK,12.85,0.0,Aug-84,4.0,78.0,NaN,9.0,0.0,25853,47.2,34.0,w,0.00,0.00,28735.90000,28735.90,25000.00,3735.90,0.0,0.00,0.0000,Apr-15,16606.44,NaN,Apr-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,37893.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,54800.0,NaN,NaN,NaN

In [ ]:
# Removing unnecessary features
data_inf_final = data_inf[sel_features]
round(data_inf_final,2)

,int_rate,out_prncp,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,grade
0,6.62,0.00,13082.80,13082.80,12000.00,0.0,0.00,0.00,4990.14,A
1,11.12,0.00,4702.12,4702.12,4000.00,0.0,0.00,0.00,784.09,B
2,11.12,0.00,27149.58,27025.02,23999.94,0.0,0.00,0.00,13833.14,B
3,16.00,0.00,21515.03,21466.03,19400.00,0.0,0.00,0.00,24.19,D
4,13.16,0.00,1969.98,491.64,1037.91,0.0,458.10,4.56,378.23,C
5,15.61,0.00,14303.35,14303.35,11675.00,0.0,0.00,0.00,5322.51,C
6,9.71,0.00,30506.76,30452.29,28000.00,0.0,0.00,0.00,19714.40,B
7,18.25,2170.96,8125.49,8125.49,5829.04,0.0,0.00,0.00,290.23,D
8,14.33,0.00,10986.40,10986.40,9000.00,0.0,0.00,0.00,2957.59,C
9,15.80,691.69,11913.46,11913.46,9308.30,0.0,0.00,0.00,350.59,C
10,18.49,0.00,4186.00,4186.00,2870.94,0.0,0.00,0.00,182.00,D
11,14.33,699.63,24162.92,24102.92,19425.37,0.0,0.00,0.00,691.06,C
12,12.12,0.00,11975.76,11975.76,10000.00,0.0,0.00,0.00,339.38,B
13,8.90,0.00,31657.73,31593.68,29000.00,0.0,0.00,0.00,18780.99,A
14,10.49,10790.99,6750.29,6750.29,5209.01,0.0,0.00,0.00,519.97,B
15,9.49,2577.50,1789.46,1789.46,1422.50,0.0,0.00,0.00,128.12,B
16,20.99,0.00,1343.60,1343.60,291.09,0.0,815.11,8.15,178.00,E
17,13.98,3751.26,3761.08,3761.08,2723.74,0.0,0.00,0.00,221.24,C
18,12.49,5093.65,5046.62,5046.62,3781.35,0.0,0.00,0.00,296.86,B
19,13.35,6732.85,7466.76,7466.76,5517.15,0.0,0.00,0.00,414.82,C
20,12.49,0.00,33559.59,33559.59,30000.00,0.0,0.00,0.00,26136.90,B
21,13.35,0.00,7463.16,7463.16,6500.00,0.0,0.00,0.00,441.40,C
22,14.64,3290.97,5070.03,5070.03,3709.03,0.0,0.00,0.00,241.43,C
23,12.99,0.00,9097.43,9046.89,9000.00,0.0,0.00,0.00,9097.43,B
24,14.98,0.00,28735.90,28735.90,25000.00,0.0,0.00,0.00,16606.44,C

In [ ]:
# Predict using Best Model
y_pred_inf = best_model.predict(data_inf_final) # pipeline_xgb from load files
y_pred_inf_df = pd.DataFrame(y_pred_inf, columns=['credit_risk_prediction'],index=data_inf_final.index)
round(y_pred_inf_df.head(25),2)

    credit_risk_prediction
0                      1.0
1                      1.0
2                      1.0
3                      1.0
4                      0.0
5                      1.0
6                      1.0
7                      1.0
8                      1.0
9                      1.0
10                     0.0
11                     1.0
12                     1.0
13                     1.0
14                     1.0
15                     1.0
16                     0.0
17                     1.0
18                     1.0
19                     1.0
20                     1.0
21                     1.0
22                     1.0
23                     1.0
24                     1.0

In [ ]:
# Actual
data_inf['actual_loan_status'] = data_inf['loan_status']
data_inf['actual_credit_risk'] = np.where(data_inf['actual_loan_status'].isin(low_risk), 'Low-Risk', 'High-Risk')
actual_inf = data_inf[['actual_loan_status','actual_credit_risk']]
actual_inf

   actual_loan_status actual_credit_risk
0          Fully Paid           Low-Risk
1          Fully Paid           Low-Risk
2          Fully Paid           Low-Risk
3          Fully Paid           Low-Risk
4         Charged Off          High-Risk
5          Fully Paid           Low-Risk
6          Fully Paid           Low-Risk
7             Current           Low-Risk
8          Fully Paid           Low-Risk
9             Current           Low-Risk
10        Charged Off          High-Risk
11            Current           Low-Risk
12         Fully Paid           Low-Risk
13         Fully Paid           Low-Risk
14            Current           Low-Risk
15            Current           Low-Risk
16        Charged Off          High-Risk
17            Current           Low-Risk
18            Current           Low-Risk
19            Current           Low-Risk
20         Fully Paid           Low-Risk
21         Fully Paid           Low-Risk
22            Current           Low-Risk
23         Fully Paid           Low-Risk
24         Fully Paid           Low-Risk

In [ ]:
# Comparing the Actual loan_status and credit_risk_prediction
model_inf = pd.concat([actual_inf, y_pred_inf_df['credit_risk_prediction']], axis=1).sort_index()
model_inf['credit_risk_prediction'] = model_inf['credit_risk_prediction'].replace({1: 'Low-Risk', 0: 'High-Risk'})
model_inf

   actual_loan_status actual_credit_risk credit_risk_prediction
0          Fully Paid           Low-Risk               Low-Risk
1          Fully Paid           Low-Risk               Low-Risk
2          Fully Paid           Low-Risk               Low-Risk
3          Fully Paid           Low-Risk               Low-Risk
4         Charged Off          High-Risk              High-Risk
5          Fully Paid           Low-Risk               Low-Risk
6          Fully Paid           Low-Risk               Low-Risk
7             Current           Low-Risk               Low-Risk
8          Fully Paid           Low-Risk               Low-Risk
9             Current           Low-Risk               Low-Risk
10        Charged Off          High-Risk              High-Risk
11            Current           Low-Risk               Low-Risk
12         Fully Paid           Low-Risk               Low-Risk
13         Fully Paid           Low-Risk               Low-Risk
14            Current           Low-Risk               Low-Risk
15            Current           Low-Risk               Low-Risk
16        Charged Off          High-Risk              High-Risk
17            Current           Low-Risk               Low-Risk
18            Current           Low-Risk               Low-Risk
19            Current           Low-Risk               Low-Risk
20         Fully Paid           Low-Risk               Low-Risk
21         Fully Paid           Low-Risk               Low-Risk
22            Current           Low-Risk               Low-Risk
23         Fully Paid           Low-Risk               Low-Risk
24         Fully Paid           Low-Risk               Low-Risk

The insight from the given data is that the `actual_credit_risk` and `credit_risk_prediction` columns are mostly consistent, indicating that the model's credit risk predictions align with the actual loan status.

- For instances with `actual_loan_status` as 'Fully Paid', the `actual_credit_risk` and `credit_risk_prediction` are both 'Low-Risk', showing a correct prediction by the model.
- For instances with `actual_loan_status` as 'Charged Off', the `actual_credit_risk` and `credit_risk_prediction` are both 'High-Risk', again demonstrating accurate predictions by the model.
- There are some instances with `actual_loan_status` as 'Current', where the model has predicted 'Low-Risk', which suggests the model might be predicting a lower risk for ongoing loans.

Overall, the credit risk predictions made by the model (in the `credit_risk_prediction` column) seem to align well with the actual credit risk status (in the `actual_credit_risk` column) for the majority of the data points, indicating a reasonable performance of the classification model.